body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.main {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.texts {
  color: white;
  text-align: center;
}

.play-button:hover .texts {
  color: rgb(179, 179, 179);
}

video {
  position: absolute;
  object-fit: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

@supports (-ms-ime-align: auto) {
  video {
    height: auto !important;
  }
}

/* FOR MOBILE */
@media only screen and (max-width: 600px) {
  .texts h1 {
    font-size: 20px;
  }
  .texts p {
    font-size: 14px;
  }
}